.clients-section {
  background-color: #fff;
  padding: 4rem 2rem;
  text-align: center;
  
}
.clients-section h2 {
font-size: 2rem;
}
.client-slide {
  padding: 1rem;
}


.client-slide img {
  max-width: 150px;
  margin: auto;
  display: block;
  object-fit: contain;
}

.client-slide p {
  margin-top: 0.5rem;
  font-size: 1rem;
}
